/Bin
/Build
/_IDE/Build
/_IDE/VS2013/.vs
/_IDE/VS2013/Billiard.opensdf
/_IDE/VS2013/Billiard.sdf
/_IDE/VS2013/Billiard.v12.suo
/_IDE/VS2013/Billiard.vcxproj.user
/_IDE/VS2013/Result32Debug.log
/_IDE/VS2013/Result32Release.log
/_IDE/VS2013/Result64Debug.log
/_IDE/VS2013/Result64Release.log
/_IDE/VS2013/Win32
/_IDE/VS2013/x64
/_IDE/VS2015/.vs
/_IDE/VS2015/Billiard.VC.VC.opendb
/_IDE/VS2015/Billiard.VC.db
/_IDE/VS2015/Billiard.vcxproj.user
/_IDE/VS2017/.vs
/_IDE/VS2017/Billiard.vcxproj.user
/doxygen/Billiard.log
/doxygen/html
